.BusinessDetails2-div{
   margin: 100px auto;
}
.BusinessDetails2-div form{
    width: 350px;
    margin: auto;
}
.BusinessDetails2-div p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    line-height: 124.52%;
    letter-spacing: -0.02em;
    color: rgba(46, 42, 42, 0.89);
}

.BusinessDetails2-div form label{
    display: flex;
    font-family:'Roboto';
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0em;
    color: #605656;
    margin-bottom: 10px;
}
.BusinessDetails2-div form input{
    height: 58px;
    width: 343px;
    border-radius: 10px;
    background: #D8D4CF;
    padding-left: 15px;
    margin-bottom: 5px;
}

.BusinessDetails2-div form .btn{
    background-color: #292561;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    margin-top: 40px;
}