body{
    background-image: url(images/ON.png);
   
    width: 100%;
    height: 100vh;
    
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  }
  
