@import url('https://fonts.googleapis.com/css2?family=Joan&family=Libre+Baskerville&family=Poppins:wght@100&display=swap');
* {
    box-sizing: border-box;
    
}

.container {
    border-radius: 10px;
    background-color: #f2f2f285;
    width: 38vw;
    height: 90vh;
    padding-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 110vw;
    max-height: 120vh;
    margin-top: 4%;
    margin-left: 32%;
    margin-bottom: 4.2%;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
    font-family: 'Joan', serif;
}
.logo{
    display: flex;
     margin-left: 20%;
     /* background-color: red; */
     width: 100px;
     height: 100px;
    font-family: 'Libre Baskerville', serif !important;
}
.re, .ceive{
    padding-top: 38%;
    /* background-color: blue; */
    margin-left: 0px;
}
h2 {
    text-align: center !important;
    color: #2F3E91;
    padding-top: 2vh;
   
}

.invalid {
    border: 1px solid red !important;
}
small {
    color: red;
    text-align: left;
    font-size: 15px;
}
.login {
    margin-bottom: 7%;
}


.col,
.login {
    padding-left: 80px;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

input[type="email"],
input[type="password"] {
    width: 25vw;
    padding: 12px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;

}
input[type="email"]:focus,
input[type="password"]:focus {

    padding: 13px 13px;
    border: 1px solid rgb(238, 200, 200);
   cursor:text;

}
.remember{
    display: flex;
    justify-content: space-around
}
.pass{
   
    margin-top: 0px;
}
button {
    background-color: #f7941d;
    color: white;
    padding: 12px 12px;
    width: 19vw;
    margin-left: 25%;
    border: none;
    cursor: pointer;
    border-radius: 25px;

}
button a{
    text-decoration: none;

}

button:hover {
    background: rgb(147, 187, 255);
    border: none;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    color: white;
    
}

p a {
    text-decoration: none;

}

p a:hover {
    text-decoration: darkcyan;

}

@media screen and (max-width: 600px) {

.container {
        width: 95%;
        height: 90%;
        padding-bottom: 10px;
        margin-top: 30%;
        margin-left: 7%;
        margin-bottom: 25%;
      
    }


    .col,
    .login {
        padding-left: 10px;
        width: 95%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
  input[type="email"],
  input[type="password"] {
      width: 90%;
      padding: 20px 12px;
      border: 1px solid #ccc;
      border-radius: 4px;


  }
    .pass {
        margin-top: 0px;
    }

    button {
        
        width: 50%;
        margin-left: 6%;

    }

    
}

@media screen and (max-width: 450px) {

.logo {
        display: flex;
        margin-left: 10%;
        /* background-color: red; */
        width: 80px;
        height: 80px;
        font-family: 'Libre Baskerville', serif !important;
    }

    .re,
    .ceive {
        padding-top: 38%;
        margin-left: 0px;
    }

    h2 {

        padding-top: 1vh;

    }

    .container {
        width: 95%;
        height: 100%;
        padding-bottom: 10px;
        margin-top: 30%;
        margin-left: 7%;
        margin-bottom: 35%;

    }


    .col,
    .login {
        padding-left: 10px;
        width: 95%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    input[type="email"],
    input[type="password"] {
        width: 90%;
        padding: 20px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
       

    }

    .pass {
        margin-top: 0px;
    }

    button {

        width: 50%;
        margin-left: 4%;

    }
}

@media screen and ( max-width: 376px) {

    .logo {
            display: flex;
            margin-left: 10%;
            /* background-color: red; */
            width: 80px;
            height: 80px;
            font-family: 'Libre Baskerville', serif !important;
        }
    
        .re,
        .ceive {
            padding-top: 38%;
            /* background-color: blue; */
            margin-left: 0px;
        }
    
        h2 {

            padding-top: 1vh;
    
        }
.container {
        width: 95%;
        height:100%;
        padding-bottom: 10px;
        margin-top: 30%;
        margin-left: 7%;
        margin-bottom: 35%;

    }


    .col,
    .login {
        padding-left:10px;
        width: 95%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 20px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;

}
    .pass {
        margin-top: 0px;
    }

    button {
        width: 50%;
        margin-left: 4%;

    }
} 