body{
    overflow-x:hidden;
}
.first-section{
    background: rgba(41, 37, 97, 0.93);
       border-bottom-right-radius: 25%;
       }

       .general{
        display: grid;
            grid-template-columns: 50% 50%;
            gap:1%;
       }
      
           .Part1 {
               padding: 1.2rem;   
               text-align: center;
               margin-left: 13%; 
                font-family: 'DM Sans';
                font-style: italic;
                font-weight: 700;
                font-size: 24px;
                line-height: 31px;
            
                color: #ECE6E6;
           }
           .Part1 p{
            text-align: start;
           }
           .Part2
           {
              margin-left: 16%;
             margin-top: 6rem;
              text-align: center;
            font-family: 'DM Sans';
                font-style: normal;
                font-weight: 700;
                font-size: 65px;
                line-height: 85px;
           
                color: #FFFFFF;
           }
           .texth1{
            text-align:start;
           }
           .Part3{
            margin-left: 7rem;
            margin-top: 3rem;
            margin-bottom: 9rem;
            width: max-content;
           }
           .anchor{
            background: #FAAF40;
            font-family: 'Poppins';
                font-style: normal;
                font-weight:bolder;
                font-size: 16px;
                line-height: 150%;
                color: #32230D;
                padding: 1rem 2.5rem;
                border-radius: 20px;
                border: 1px solid;
                transition: all 400ms ease;
           }
           .anchor:hover{
            font-size: 20px;
             background: transparent;
             color: #FAAF40;
            border: 3px solid;
             border-color: #FAAF40;
             
           }
          .cash{
            margin-top: 5rem;
          }

          /*second section*/
                  .reasons {
                      display: grid;
                      grid-template-columns: repeat(3, 1fr);
                      gap: 4.5rem;
                     
                  }
                    
                  .offers {
                    margin-top: 2rem;
                    margin-right: 20rem;
                    margin-left: -15rem;
                            background: #CAE2E3;
                            box-shadow: 17px 4px 4px rgba(0, 0, 0, 0.25);
                            border-radius: 20px;
                            padding: 2rem;
                            border: 1px solid transparent;
                            transition: var(--transition);
                               text-align: center;
                            width: 236px;
                                height: 209px;
                          transition: all 400ms ease;
                        }
         .offers:hover {
            border: 3px solid;
             border-color: #156b6e;
             background: transparent;
            cursor: pointer;
         }
            .icons{
              margin-bottom: 1rem;
              margin-left: 2.5rem;
            }
            .icons2 img{
                margin-top: -2rem;
                margin-left: 1rem;
            }
                       
            .icons3 img {
                           
                margin-top: -0.5rem;           
                margin-left: 1.5rem;
                padding-bottom: 0.5rem;
                        }
            .icons4 img{
                margin-left: 3rem;
                padding-bottom:1rem;
            }
          .icons5 img{
            margin-left:1.5rem;
            margin-top: -0.5rem;
          }
          .offers h3{
            color: #312B2B;
            font-family: 'DM Sans';
                font-style: normal;
                font-weight:bolder;
                font-size: 20px;
                line-height: 26px;
                text-align: center;
          }
         .second-section h2{
        font-family: 'DM Sans';
            font-style: normal;
            font-weight: bolder;
            font-size: 40px;
            line-height: 31px;
            text-align: center;
            color: #504848;
            line-height: 3rem;
            padding-bottom: 2rem;
         }
         .second-section{
           background: white;
           padding-bottom: 45rem;
         }

         /*third section*/

         .third-section{
            background: #FCF8F8;
           padding-bottom: 3rem;
         }
         .third-section h2{
            text-align: center;
            padding-top: 3rem;
            font-family: 'DM Sans';
                font-style: normal;
                font-weight: bolder;
                font-size: 42px;
                line-height: 42px;
                text-align: center;
            
                color: #504848;
         }
         .speech-1{
            display: grid;
            grid-template-columns: 50% 50%;
         }
         .speech{
            text-align: justify;
            margin-top: 8rem;
            margin-right: 14rem;
      
         }
         .speech h3{
            font-family: 'DM Sans';
                font-style: normal;
                font-weight: bold;
                font-size: 33px;
                line-height: 43px;
                padding-bottom: 0.5rem;    
            color: #504848;
         }
         .speech p{
            font-family: 'DM Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 31px;
                text-align:start;
                color: #504848;
                word-spacing: 0.1rem;
         }
         .speech-11{
         
        margin-top: 4rem;
                margin-left: 11rem;
         }
                 .speech2 {
                     text-align: justify;
                     margin-top: 6.5rem;
                     margin-left: 14rem;
        
                 }
                                 .speech2 h3 {
                                     font-family: 'DM Sans';
                                     font-style: normal;
                                     font-weight: bold;
                                     font-size: 33px;
                                     line-height: 43px;
                                     padding-bottom: 0.5rem;
                                     color: #504848;
                                 }
                
                                 .speech2 p {
                                     font-family: 'DM Sans';
                                     font-style: normal;
                                     font-weight: 500;
                                     font-size: 24px;
                                     line-height: 31px;
                                     text-align: start;
                                     color: #504848;
                                     word-spacing: 0.1rem;
                                 }


        .speech-23{
              margin-top:3.5rem;
        }
        /*last section*/
        .last-section{
            background: white;
        }
        .iconss{
            background: #FAAF40;
                box-shadow: 11px 20px 4px rgba(0, 0, 0, 0.25);
                border-radius: 0px;
                width: max-content;
                margin-left:18rem;
                padding-top: 1rem;
                padding-bottom: 3rem;
                padding-left:10rem;
                padding-right: 10rem;
                    top: 3456px;
        }
        .iconss h3{
            text-align: center;
        
            padding-bottom: 2rem;
            font-family: 'DM Sans';
                font-style: normal;
                font-weight: bolder;
                font-size: 33px;
                line-height: 43px;
                /* identical to box height */
            color: #504848;
        }

        .last-icons{
                
                
                    display: flex;
                    justify-content: center;
                    gap: 3rem;
                    margin-bottom: 0.8rem;
                   padding-bottom: 1rem;
                    top: 1rem;
        }
                .last-icons1 {
        
                    display: flex;
                    justify-content: center;
                    gap: 3rem;
                    margin-bottom: 0.8rem;
                  
                    top: 1rem;
                }

                /*making responsive for other devices*/
                                @media screen and (max-width: 600px) {
                                    .first-section {
                                            background: rgba(41, 37, 97, 0.93);
                                            border-bottom-right-radius: 10%;
                                            border-bottom-left-radius: 10%;
                                            height: 30rem;
                                        }
                                    .general {
                                            display: grid;
                                            grid-template-columns: 100%;
                                            gap: 1%;
                                        }
                                    .Part1 {
                                            padding: 1.2rem;
                                            text-align: center;
                                            margin-left: 0rem;
                                            font-family: 'DM Sans';
                                            font-style: italic;
                                            font-weight: 700;
                                            font-size: 15px;
                                        
                                    
                                            color: #ECE6E6;
                                        
                                }
          .Part2 {
              text-align: center;
              font-family: 'DM Sans';
              font-style: normal;
              font-weight: 700;
              font-size: 30px;
              line-height: 50px;
              margin-left: 1rem;
             margin-top: 1rem;
              color: #FFFFFF;
          }
                   
        
                   .Part3 {
                       margin-left: 1rem;
                       margin-top: 1rem;
                       width: max-content;
                   }
        
                   .anchor {
                       background: #FAAF40;
                       font-family: 'Poppins';
                       font-style: normal;
                       font-weight: bolder;
                       font-size: 6px;
                       color: #32230D;
                       padding: 0.5rem 0.5rem;
                       border-radius: 20px;
                       border: 1px solid;
                       transition: all 400ms ease;
                 
                   }
        
                   .anchor:hover {
                       font-size: 10px;
                       background: transparent;
                       color: #FAAF40;
                       border: 3px solid;
                       border-color: #FAAF40;
        
                   }
        
                   .cash {
                       margin-top: -13rem;
                       margin-left:10rem;
                   }
                   .cash .cashimg{
                    width:100%;
                   }
        }
                                