.auth_form-container {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}
.auth_form-container_fields {
    width: 100%;
    /* flex: 2; */
    display: flex;
    flex-direction: column;

    /* padding: 2rem; */
    /* background: #005fff; */
}
.auth_form-container_fields-content {
    width: 35%;
    margin-top: 20px;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: rgb(255, 255, 255);
    box-shadow: 0px 1px 5px rgb(0 0 0 / 10%);
    border-radius: 5px;
    transition: 0.8s ease;

}
.auth_form-container_fields-content__logo {
    display: flex;
    margin-left: 20%;
    
}
.auth_form-container_fields-content p {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #05245a;
}
.auth_form-container_fields-content_input {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1rem 0rem;
    justify-content:flex-start;
    margin-bottom: 20px;
    bottom: 30px;
    /* align-content: center; */
    
}

.auth_form-container_fields-content_input label {
    margin-bottom: 0.45rem;
    color: rgb(61, 79, 88);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.7px;
    line-height: 1.3;
    padding-right: 60%;
    text-align: left;
    /* align-items: center;
    padding-top: 10px; */
}

.auth_form-container_fields-content_input input{
    padding: 0.55rem 0.4rem;
    color: rgb(61, 79, 88);
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid rgb(61, 79, 88);
    
    /* align-items: center;
    margin-left: 20px;
    height: 30px;
    width: 50%; */
}
#Phone-code-grid {
    /* background-color: blue; */
    display: grid;
    height: 50px;
    width: 100%;
    column-gap: 10px;

    grid-template-columns: 20% 40%;


}
.auth_form-container_fields-content_input input::placeholder {
    color: #b1b1b1;
    width: 100%;
    font-weight: unset;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .auth_form-container_fields-content_input input:hover {
    border-color: #97d8d8;
  }
  
  .auth_form-container_fields-content_input input:focus,
  .auth_form-container_fields-content_input input:active {
    box-shadow: 0px 0px 0px 1.5px #005fff;
    border-color: #044ac2;
  }
  .invalid {
    border:1px solid red !important;
   }
  
  .auth_form-container_fields-content_input-password {
    position: absolute;
    right: 13%;
    top: 50%;
    cursor: pointer;
  }
.auth_form-container_fields-content_logIn p {
    font-size: 15px;
    color: #2f3e91;
    margin-top: 10px;
    
}
.auth_form-container_fields-content_logIn a {
    color: rgb(248, 123, 7);
    font-weight: 700;
    text-decoration: none;
}
.warning > a {
    text-decoration: none;
}

small {
    color: red;
    text-align: left;
    font-size: 15px;
}

.errorPhone {
    display: grid;
    height: 50px;
    width: 100%;
    column-gap: 10px;

    grid-template-columns: 40% 40%;
}
.btn-1 {
    width: 225px;
    height: 40px;
    background-color: #292561;
    border: none;
    color: white;
    border-radius: 15px;
    font-size: 15;
    font-weight: 600;
    text-align: center;
}

@media (max-width: 850px) {
    .auth_form-container {
        width: 100%;
    }
    .auth_form-container_fields {
        /* background-color: blue; */
        width: 100%;
    }
    .auth_form-container_fields-content {
        /* background-color: blue; */
        width: 100%;
        margin-left: -15px;
    }

    .auth_form-container_fields-content__logo  {
        /* background-color: blue; */
        width: 10px;
        margin-left: -10px;
    }
    .auth_form-container_fields-content__logo img {
        /* background-color: blue; */
        width: 20px;
        height: 20px;
    }
    .auth_form-container_fields-content_input input {
        width: 90%;

    }
    .auth_form-container_fields-content_input textarea {
        width: 93%;
    }
    .btn-1 {
        margin-right: 50px;
    }
}