body {
  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


.bttn2{
    background-color: #2b2861;
    border-radius: 10px;
    width: 300px;
    height: 50px;
    margin-top: 40px;
}
/*.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

:root {
  
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}*/
